<%- include("templates/header") %>


 <div class="container text-center mt-5">
    <h1>403 Forbidden</h1>
    <p>You do not have permission to access this page.</p>
    <a href="/" class="btn btn-primary">Go back to the homepage</a>
  </div>


<%- include("templates/footer") %>