<%- include("templates/header") %>

<div class="container d-flex flex-column align-items-center" style="margin-top: 100px;">
  <h1 class="mb-4">Welcome</h1>
  <div class="d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-primary btn-custom-margin"
      onclick="location.href = 'login';"
    >
      Login
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      onclick="location.href='register';"
    >
      Sign Up
    </button>
  </div>
</div>

<style>
  .btn-custom-margin {
    margin-right: 1rem;
  }

  .vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  .container {
    width: 400px;
    padding: 16px;
    background-color: white;
    border-radius: 10px;
    margin: 100px auto;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
  }
</style>

<%- include("templates/footer") %>
