 <%- include("templates/header") %>
 
 <div class="container">
        <h1 class="text-center my-4">Login</h1>
        <!-- Add this block after the <h1>Login</h1> line -->
        <% if (typeof error !== 'undefined') { %>
            <div class="alert alert-danger" role="alert"><%= error %></div>
        <% } %>
        <form action="/login" method="post">
            <div class="mb-3">
                <label for="email" class="form-label"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

    <%- include("templates/footer") %>