<%- include("templates/header") %>
<div class="container">
      <h1 class="text-center my-4">Register</h1>
      <form action="/register" method="post">
        <div class="mb-3">
          <label for="username" class="form-label"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" class="form-control" required />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label"><b>Email</b></label>
          <input type="email" placeholder="Enter Email" name="email" class="form-control" required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-success w-100">Register</button>
      </form>
    </div>
<%- include("templates/footer") %>
